// Colors
$color-dark: #353535;
$color-clear: #F9F9F9;
$color-bus-stop: #0063B8;
$color-danger: #CC2611;
$color-blue: $color-bus-stop;

// Sizes
$main-map-floats-margin: 20px;

// Search bar
$search-bar-height: 40px;
$search-bar-margin: $main-map-floats-margin;
$search-input-font-size: 18px;

// Settings menu
$settings-menu-width: 80vw;
$settings-menu-header-height: 70px;
$settings-menu-header-font-size: 20px;
$settings-menu-padding-left: 20px;
$settings-menu-item-height: 35px;

// Bus list
$bus-list-padding: 20px;
$bus-list-header-height: 40px;
$bus-list-max-height: 40vh;
$bus-list-item-height: 35px;
$bus-list-bg-color: $color-clear;

// Track Button
$track-btn-width: 60px;
$track-btn-margin: $main-map-floats-margin;
