<template>
  <div id="bus-list">
    <div class="list-header">
      <div class="item">
        {{ buses.length }}
        <span v-if="buses.length > 1">Rutas</span>
        <span v-else>Ruta</span>
      </div>
      <div class="item">
        <a href="#" @click.prevent="$emit('clearAll')">Limpiar todo</a>
      </div>
    </div>
    <div class="list-body">
      <div class="list-item" v-for="bus in buses" :key="bus.id">
        <div class="item-icon">
          <IconBus />
        </div>
        <div class="item-info">
          {{ bus.properties.name }}
        </div>
        <div class="item-actions">
          <button @click="$emit('removeItem', bus.id)">
            <IconTrash />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IconBus from '@/assets/svg/bus.svg';
import IconTrash from '@/assets/svg/iconmonstr-trash-can-1.svg';

export default {
  name: 'BusList',

  components: {
    IconBus,
    IconTrash,
  },

  props: {
    buses: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss">
@import '../styles/variables.scss';

#bus-list {
  background-color: $bus-list-bg-color;
  position: absolute;
  width: 100vw;
  bottom: 0px;
  max-height: $bus-list-max-height;

  .list-header {
    padding: 0 $bus-list-padding;
    height: $bus-list-header-height;
    display: flex;
    justify-content: space-between;

    .item {
      line-height: $bus-list-header-height;
    }
  }

  .list-body {
    overflow-y: auto;
    max-height: calc(#{$bus-list-max-height} - #{$bus-list-header-height});

    .list-item {
      height: $bus-list-item-height;
      padding: 0 $bus-list-padding;
      display: grid;
      grid-template-columns: $bus-list-item-height auto $bus-list-item-height;

      .item-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 90%;
          height: 90%;

          path {
            fill: $color-bus-stop;
          }
        }
      }

      .item-info {
        padding: 0 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: $bus-list-item-height;
      }

      .item-actions {
        button {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          border: 0;
          background-color: $bus-list-bg-color;

          svg path {
            fill: $color-danger;
          }
        }
      }
    }
  }
}
</style>
