<template>
  <div id="track-btn" :class="{watching: watchID !== null}">
    <button @click="toggleWatchGeolocation">
      <IconTrack />
    </button>
  </div>
</template>

<script>
import IconTrack from '@/assets/svg/iconmonstr-crosshair-6.svg';

export default {
  name: 'TrackBtn',

  components: {
    IconTrack,
  },

  data() {
    return {
      watchID: null,
      isFirst: true,
    };
  },

  methods: {
    toggleWatchGeolocation() {
      if (this.watchID === null) {
        this.watchID = navigator.geolocation.watchPosition((position) => {
          this.$emit('currentPosition', {
            pos: [position.coords.longitude, position.coords.latitude],
            isFirst: this.isFirst,
          });
          this.isFirst = false;
        }, (error) => {
          this.clearWatch();
          this.$emit('currentPositionFailed', error);
        });
      } else {
        this.clearWatch();
        this.$emit('currentPositionCleared');
      }
    },

    clearWatch() {
      navigator.geolocation.clearWatch(this.watchID);
      this.watchID = null;
      this.isFirst = true;
    },
  },
};
</script>

<style lang="scss">
@import '../styles/variables.scss';

#track-btn {
  width: $track-btn-width;
  height: $track-btn-width;
  position: absolute;
  right: $track-btn-margin;
  bottom: $track-btn-margin;

  button {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: $color-clear;

    display: flex;
    align-items: center;
    justify-content: center;

    svg path {
      fill: $color-dark;
    }
  }

  &.watching {
    button {
      background-color: $color-blue;

      svg path {
        fill: $color-clear;
      }
    }
  }
}
</style>
